body{
    text-align: center;
}
a{
    text-decoration: none;
}
#m{
    font-family: 'Bebas Neue', cursive;;
    font-size: 25px;
}
 
.contact_1 a{
    color: black;
    font-family: 'Lobster', cursive;
    text-shadow: none;
}
.contact_1 h3{
    display: inline;
}
#n{
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
}
#heading{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
#head{
    font-family: 'Bebas Neue', cursive;
font-family: 'Lobster', cursive;
font-family: 'Pacifico', cursive;
}